<a href="https://colab.research.google.com/github/MWilliamsDP/AlphabetSoupChallenge/blob/main/AlphabetSoup3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [96]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data (4).csv

In [97]:
import io
charity = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))
charity.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [98]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
charity.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [99]:
# Determine the number of unique values in each column.
charity.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [100]:
# Look at APPLICATION_TYPE value counts for binning
typeCounts=charity['APPLICATION_TYPE'].value_counts()
typeCounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [101]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=typeCounts[typeCounts < 100].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    charity['APPLICATION_TYPE'] = charity['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
charity['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [102]:
# Look at CLASSIFICATION value counts for binning
classification= charity['CLASSIFICATION'].value_counts()
classification.head(100)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2561        1
C1283        1
C2500        1
C1248        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [103]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification1=classifcation[classifcation>1]
classification1.head(100)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1234        2
C3200        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [104]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification1[classification1 <1000].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    charity['CLASSIFICATION'] = charity['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
charity['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1732        1
C4500        1
C1820        1
C4200        1
C1245        1
C1728        1
C2170        1
C1370        1
C3700        1
C2500        1
C1248        1
C8210        1
C2561        1
C2150        1
C1580        1
C1283        1
C1570        1
C2190        1
C6100        1
C2600        1
C1236        1
C5200        1
C4120        1
C2570        1
C2380        1
C1900        1
Name: CLASSIFICATION, dtype: int64

In [105]:
# Convert categorical data to numeric with `pd.get_dummies`


CatEncoded=pd.get_dummies(charity, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE','ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
CatEncoded.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 71 columns]

In [106]:
# Split our preprocessed data into our features and target arrays
y=CatEncoded['IS_SUCCESSFUL'].values
X=CatEncoded.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=48)
X_train

array([[     1,   5000,      0, ...,      0,      1,      0],
       [     1,   5000,      0, ...,      0,      1,      0],
       [     1, 230189,      0, ...,      0,      1,      0],
       ...,
       [     1,   5000,      0, ...,      0,      1,      0],
       [     1,   5000,      0, ...,      0,      1,      0],
       [     1,  17649,      0, ...,      0,      1,      0]])

In [107]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [108]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
inputFeatures=len(X_train[0])
hiddenLayer1=10
hiddenLayer2=5
hiddenLayer3=3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenLayer1, input_dim=inputFeatures, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenLayer2, activation ='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hiddenLayer3, activation='relu' ))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation ='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 10)                710

 dense_17 (Dense)            (None, 5)                 55

 dense_18 (Dense)            (None, 3)                 18

 dense_19 (Dense)            (None, 1)                 4

=================================================================
Total params: 787
Trainable params: 787
Non-trainable params: 0
_________________________________________________________________

In [109]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=99)

Epoch 1/99
804/804 [==============================] - 2s 2ms/step - loss: 0.6176 - accuracy: 0.6735
Epoch 2/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7292
Epoch 3/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7310
Epoch 4/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7316
Epoch 5/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7319
Epoch 6/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7326
Epoch 7/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7325
Epoch 8/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7337
Epoch 9/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7337
Epoch 10/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7331
Epoch 11/99
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7341
Epoch 12/99
 22/804 [..............................] - ETA: 1s - loss: 0.5711 - accuracy: 0.7145

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
nn.save('AlphaetSoupCharity3.h5')